@charset "UTF-8";
html {
  font-size: 16px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3 {
  text-align: center;
  color: aliceblue;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public-Sans", sans-serif;
  line-height: 1.3;
  font-size: 1.125rem;
}

a, a:visited, a:hover {
  text-decoration: none;
  outline: 0;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.navigation {
  height: 70px;
  background-color: #262626;
  position: absolute;
  top: 0;
  width: 100%;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  float: left;
  line-height: 70px;
  font-size: 1.4em;
  padding-left: 20px;
}

.brand a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0 20px;
  background: #262626;
  text-decoration: none;
  line-height: 70px;
}

nav ul li a:hover {
  background: green;
  color: #ffffff;
  transition: 0.4s;
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: "  ▾";
}

nav ul li ul li {
  min-width: 160px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

/* Mobile Hamburger Menu */
.nav-mobile {
  display: none;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #262626;
}

/* Media Query for Navigation */
@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 40px;
    background-color: gray;
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 30px;
  background: #8bee86;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

#tsparticles {
  position: absolute;
  width: 90vw;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 800px) {
  #tsparticles {
    visibility: hidden;
  }
}

.homepage {
  background-image: linear-gradient(to top, #00aec9, #00b1cc, #00b4cf, #00b7d3, #00bad6, #00c0d6, #00c7d6, #00cdd4, #00d8c9, #33e1b7, #60e8a0, #8bee86);
  min-height: 100vh;
}
.homepage .homepage-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  min-height: 100px;
  max-width: 7 0px;
  padding: 1rem 2rem;
}
.homepage .homepage-container h3 {
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: 100;
  line-height: 40px;
}

.carousel-item {
  height: 32rem;
  background-color: #fcfcfc;
  position: relative;
}

#myCarousel {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#myCarousel .carousel-indicators [data-bs-target] {
  background-color: black;
}
#myCarousel .carousel-indicators {
  margin-bottom: 0;
}
#myCarousel a[role=button] {
  color: black;
}
#myCarousel .carousel-control-prev-icon {
  min-width: 0.9em;
  margin-left: 2.5rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
#myCarousel .carousel-control-next-icon {
  min-width: 0.9em;
  margin-right: 2.5rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
#myCarousel .sr-only {
  font-size: 0.8em;
  padding: 10px;
}
@media (max-width: 700px) {
  #myCarousel .carousel-control-prev,
#myCarousel .carousel-control-next {
    display: none;
  }
}

.about-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-me h1 {
  font-size: 2em;
  color: #434343;
}
.about-me p {
  font-size: 0.9em;
  padding: 2px;
}

#PortTitle {
  color: black;
}

.portfolio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25rem;
}
@media (max-width: 700px) {
  .portfolio {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.portfolio-overlay {
  position: relative;
  width: 25%;
}
.portfolio-overlay img {
  width: 100%;
}
.portfolio-overlay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s;
}
.portfolio-overlay .overlay .title {
  font-size: 3rem;
  letter-spacing: 0.1em;
  color: #fff;
  transform: translateY(2em);
  transition: transform 0.5s;
}
.portfolio-overlay .overlay:hover {
  opacity: 1;
}
.portfolio-overlay .overlay:hover > * {
  transform: translateY(0);
}
@media (max-width: 700px) {
  .portfolio-overlay {
    width: 30%;
  }
}

.Quals {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
.Quals h1 {
  color: black;
}
.Quals div[class=flex] {
  font-size: 1em;
  justify-content: space-evenly;
}

footer form {
  display: flex;
  justify-content: center;
}
footer form .half-left {
  display: flex;
  flex-direction: column;
}
footer form #submitform {
  width: 50%;
  margin: 0 auto;
}
footer form #submitform button {
  width: 2em;
}

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
.site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
  color: green;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}/*# sourceMappingURL=styles.css.map */