html{
    font-size: 16px;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
h1,h2,h3{
    text-align: center;
    color:aliceblue;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Public-Sans', sans-serif;
    line-height: 1.3;
    font-size: 1.125rem // to get to rems from pixels divide by 16. (18/16) = 1.125
}
a, a:visited, a:hover{
    text-decoration: none;
    outline:0;
}
.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
        
    }
    &-jc-c{
        justify-content:center;
    }
    &-ai-c{
        align-items: center;
    }
}


